


<div class="container">
    <div class="row">
        <h1>My Persons</h1>
    </div>

    <div class="row">
        <!-- Standard button -->
        <div class="pull-right">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label for="personName" class="sr-only">Password</label>
                    <input class="form-control" id="personName" #newPerson 
                           (keyup.enter)="addNewPerson(newPerson.value)"
                           placeholder="Enter name" />
                </div>
                <button type="button" class="btn btn-primary" (click)="addNewPerson(newPerson.value)">Create</button>
            </form>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of persons">
                    <td>{{p.Id}}</td>
                    <td>{{p.Name}}</td>
                    <td>
                        <button type="button" class="btn btn-danger pull-right" (click)="deletePerson(p.Id)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
