@{
    ViewBag.Title = "Index";
}
@model List<MyWeb.Domain.Domain.Person>

<div ng-controller="PersonController" ng-init="init()">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <td>Name</td>
                <td>BirthDay</td>
                <td>Notes</td>
                <td>RecordDate</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="p in persons">
                <td>{{p.Id}}</td>
                <td>{{p.Name}}</td>
                <td>{{p.BirthDay}}</td>
                <td>{{p.Notes}}</td>
                <td>{{p.RecordDate}}</td>
            </tr>
        </tbody>
    </table>
</div>

@*<div id="dataDiv">
        @Html.Partial("_Variants", Model)
    </div>
    @Html.Partial("_MVCAjax")*@

