<div class="container">
    <div class="row">
        <h1 highlight [highlightColor]="color"  [defaultColor]="'violet'">{{title | awesome}}</h1>
    </div>

    <input type="text" [(ngModel)]="power">
    <on-changes [power]="power"></on-changes>

    <h4>Pick a highlight color</h4>
    <div>
    <input type="radio" name="colors" (click)="color='lightgreen'">Green
    <input type="radio" name="colors" (click)="color='yellow'">Yellow
    <input type="radio" name="colors" (click)="color='cyan'">Cyan
    </div>
  <div class="row">
    <nav>
        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="/persons" routerLinkActive="active">Person</a>
        <a routerLink="/admin" routerLinkActive="active">Admin</a>
    </nav>
   </div>
    <router-outlet></router-outlet>
</div>